@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$fontBowlby: "Bowlby One SC", sans-serif;
$fontBubblegum: "Bubblegum Sans", sans-serif;
$fontOriginalSurfer: "Original Surfer", sans-serif;
$fontGuerrilla: "Protest Guerrilla", sans-serif;
$fontIndieFlower: "Indie Flower", sans-serif;
