@import "fonts";

.about-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: justify;
  line-height: 2em;
  max-width: 80vw;
}

.about-title {
  padding: 10px;
  margin-bottom: 3vh;
  font-family: $fontOriginalSurfer;
  font-size: 2.6em;
}

.about-desctiption {
  font-size: 1.6em;
  margin-bottom: 3vh;
}
